<div class="text-center">
    <h1 class="text-3xl text-orange-500 font-bold">Congratulations, Application Successfully Deployed</h1>
    <p>
        <span class="text-2xl font-bold text-pink-400">Hostname: </span>
        <span class="text-bold text-2xl text-yellow-500">
            <%= hostname %>
        </span>
    </p>
    <p>
        <span class="text-2xl font-bold text-pink-400">Address: </span>
        <span class="text-bold text-2xl text-yellow-500">
            <%= address %>
        </span>

    </p>
</div>