<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="bg-[#111111] text-white h-screen flex justify-center items-center">
    <main class="w-[80%] h-[50%] text-center">
        <%- include('../partials/body'); %>
            <div class="text-center text-4xl font-bold text-blue-500 mt-20">
                <p>🎉 Celebrate! 🎉</p>
            </div>
    </main>
    <script src="/scripts/index.js"></script>
</body>

</html>